@tailwind base;
@tailwind components;
@tailwind utilities;

header li {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: medium;

    &:hover {
        border-bottom: 4px solid #0182F9;
        color: #0182F9;
    }
}

#slideSec>button:first-child {
    top: -1.7rem;
}

#welcomeMainBanner li,
#comicsMainBanner li {
    width: calc(100% / 5 - 1em);

    &:hover {
        box-shadow: 0px 10px 13px -7px #000000, 0px 50px 19px 16px rgba(0, 0, 0, 0);
    }

    a {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;
        justify-content: center;

        img {
            max-width: 3rem;
            max-height: 2.75rem;
        }
    }
}

#footerLinks {
    background-image: url(../img/footer-bg.jpg);

    section>div:first-child li {
        margin-top: -.4em;

        a {
            color: grey;
            font-size: 10px;

            &:hover {
                color: #0182F9;
            }
        }
    }

    section>div:last-child {
        background-image: url(../img/dc-logo-bg.png);
    }
}

/* BOOTSTRAP CLASSES ADAPT FOR TAILWIND --> tailwind.config.js
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.is-invalid,
.form-control {
    border-color: #dc3545;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
*/
